footer {
  text-align: center;
  padding: 20px;
}

.footer-container {
  text-align: center;
  padding: 30px;
  background: #12024f;
  color: white;
  border-top: 1px solid #66fcf1;
}

.footer-container p {
  font-size: 1.4rem; /* Aumentar el tamaño del texto */
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Aumentar el espacio entre los íconos */
}

.social-icons a {
  color: white;
  font-size: 1.5rem; /* Aumentar el tamaño de los iconos */
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #66fcf1;
}

.social-icons .icon {
  font-size: 1.8rem; /* Aumentar aún más el tamaño del icono */
}
